body {
  background-color: #000;
  color: #fff;
}
a,
a:active,
a:focus,
a:link {
  color: #fff;
}
a:hover {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  padding-bottom: 4px;
}
.table {
  color: #fff;
}
.headerBox {
  background-color: #395473;
  color: #fff;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.navbar-brand sup {
  color: #7f7a83;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
.topNavbar {
  border-bottom: 2px solid #2e4057;
  color: #fff;
}
.topNavbar > .container {
  background-color: #243d56;
}
.bottomNavbar {
  background-color: #3b516a;
  border-top: 2px solid #2d3e55;
  color: #1d1e22;
}
.sidebarNavbar {
  background-color: #2e4057;
  border-top: 1px solid #aaa;
  color: #fff;
}
.topNavbar .navbar-nav .nav-link {
  color: #acb3ba;
}
.bottomNavbar .nav-text,
.bottomNavbar .navbar-nav .nav-link {
  color: #aab1b9;
}
.sidebarNavbar .navbar-nav .nav-link:not(.disabled) {
  color: #8e9297;
}
.sidebarNavbar .navbar-nav .nav-link.disabled {
  color: #666262;
}
.topNavbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #2d455d;
}
.bottomNavbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #2d455d;
}
.sidebarNavbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #2d455d;
}
.topNavbar .navbar-nav .nav-link:active,
.topNavbar .navbar-nav .nav-link:focus {
  color: #fff;
}
.bottomNavbar .navbar-nav .nav-link:active,
.bottomNavbar .navbar-nav .nav-link:focus {
  color: #fff;
}
.sidebarNavbar .navbar-nav .nav-link:active,
.sidebarNavbar .navbar-nav .nav-link:focus {
  color: #fff;
}
.bottomNavbar .selected {
  background-color: #0f2336;
}
.topNavbar .dropdown-menu {
  border: 1px solid #353f58 !important;
  background-color: #4b4a50 !important;
}
.topNavbar .dropdown-item {
  background-color: #4a7492 !important;
}
.topNavbar .dropdown-item:hover {
  background-color: #406580 !important;
}
#topbarProgress .bar {
  background-color: #378de4;
}
.nav-separator {
  background-color: #2d3e55;
}
.dialogTitlebar {
  background-color: #425b7c;
  color: #fff;
}
.dialogTitlebar.inactive {
  background-color: #09213a;
}
.dialogTitlebar.inactive a {
  color: #ccc;
}
.dialog {
  color: #fff;
  background-color: #09213a;
  border-color: #707379;
}
.dialogTitle a {
  color: #1a2534;
}
.dialogArea {
  background-color: #192e46;
}
.dynamicDialogArea {
  background-color: #243d56;
  color: #fff;
}
.dialog .form-control {
  background-color: #3d5571;
  border: 1px solid #2f4055;
  color: #a8b4c4;
}
.dialog .form-control:focus {
  background-color: #41536a;
  border: 1px solid #41536a;
  color: #fff;
}
.dialog > .form-control:disabled,
.form-control[readonly] {
  background-color: #4f6178;
  border: 1px solid #4f6178;
  color: #d9d7d7;
}
.btn-danger {
  background-color: #3aa8d4;
  border: 1px solid #3aa8d4;
  color: #fff;
}
.btn-danger:hover {
  background-color: #3aa8d4;
  border: 1px solid #3aa8d4;
  color: #fff;
}
.btn-danger:focus {
  background-color: #3aa8d4;
  border: 1px solid #3aa8d4;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled).active,
.btn-danger:not(:disabled):not(.disabled):active,
.show > .btn-danger.dropdown-toggle {
  background-color: #3aa8d4;
  border: 1px solid #3aa8d4;
  color: #fff;
}
.btn-danger.disabled,
.btn-default.disabled,
.btn-info.disabled,
.btn-primary.disabled,
.btn-success.disabled,
.btn-warning.disabled {
  background-color: #0f2336;
  border: 1px solid #0f2336;
  color: #444343;
}
.btn-danger:not(:disabled):not(.disabled),
.btn-danger:not(:disabled):not(.disabled):focus,
.btn-default:not(:disabled):not(.disabled),
.btn-default:not(:disabled):not(.disabled):focus,
.btn-info:not(:disabled):not(.disabled),
.btn-info:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled),
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled),
.btn-success:not(:disabled):not(.disabled):focus,
.btn-warning:not(:disabled):not(.disabled),
.btn-warning:not(:disabled):not(.disabled):focus {
  background-color: #0f2336;
  border: 1px solid #0f2336;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled):hover,
.btn-default:not(:disabled):not(.disabled):hover,
.btn-info:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-success:not(:disabled):not(.disabled):hover,
.btn-warning:not(:disabled):not(.disabled):hover {
  background-color: #0f2336;
  border: 1px solid #0f2336;
  color: #fff;
}
.btn-default:active,
.btn-info:active,
.btn-primary:active,
.btn-success:active,
.btn-warning:hover {
  background-color: #0f2336;
  border: 1px solid #0f2336;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled),
.btn-danger:not(:disabled):not(.disabled):focus,
.btn-default:not(:disabled):not(.disabled),
.btn-default:not(:disabled):not(.disabled):focus,
.btn-info:not(:disabled):not(.disabled),
.btn-info:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled),
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled),
.btn-success:not(:disabled):not(.disabled):focus,
.btn-warning:not(:disabled):not(.disabled),
.btn-warning:not(:disabled):not(.disabled):focus {
  background-color: #0f2336;
  border: 1px solid #0f2336;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled):active,
.show
  > .btn-danger.dropdown-toggle
  .btn-info:not(:disabled):not(.disabled).active,
.show
  > .btn-default.dropdown-toggle
  .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle,
.show
  > .btn-primary.dropdown-toggle
  .btn-secondary:not(:disabled):not(.disabled).active,
.show
  > .btn-secondary.dropdown-toggle
  .btn-success:not(:disabled):not(.disabled).active,
.show
  > .btn-success.dropdown-toggle
  .btn-warning:not(:disabled):not(.disabled).active,
.show
  > .btn-warning.dropdown-toggle
  .btn-danger:not(:disabled):not(.disabled).active {
  background-color: #0f2336;
  border: 1px solid #0f2336;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled):hover,
.btn-default:not(:disabled):not(.disabled):hover,
.btn-info:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-success:not(:disabled):not(.disabled):hover,
.btn-warning:not(:disabled):not(.disabled):hover {
  background-color: #4f6278;
  border: 1px solid #4f6278;
  color: #fff;
}
.btn-default:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled) {
  background-color: #c4c8d2;
  border: 1px solid #d7d8db;
  color: #47494d;
}
.btn-secondary:not(:disabled):not(.disabled):hover {
  background-color: #8e9095;
  border: 1px solid #a6a7aa;
  color: #eaeaec;
}
.btn-transparent {
  color: #fff;
}
.dialogSize.dsBar,
.dialogSize.dsCorner {
  border: 2px solid #707379;
  background-color: #707379;
}
#alertContainer .alertMessage {
  background-color: #05273e;
  border: 3px solid #2e4057;
  border-radius: 4px;
}
#alertContainer .alertMessage .alertProgress {
  background-color: #39a8d4;
}
#confirmationContainer .confirmContent {
  background-color: #243d56;
  border: 3px solid #a6a8ad;
  border-radius: 4px;
}
.userlistStatus {
  color: #787d84;
}
#sidebar {
  background-color: #09213a;
}
#sidebar p {
  color: #acb7bc;
}
.containerSidebar .containerFooter {
  background-color: #243d56;
  color: gray;
}
.boxBgContainer .containerContent {
  background-color: #243d56;
}
.toolbar {
  background-color: #243d56;
}
.selectedTool {
  color: #fff !important;
  background-color: #425b7c !important;
  border-radius: 0;
}
.btn-secondary {
  color: #000;
  background-color: #cecece;
  border-color: #cecece;
}
#DrawingArea {
  background-color: #666;
}
.containerSidebar .containerTitle {
  color: #acb7bc;
}
.sidebarCollapseIcon {
  color: #fff;
}
#sidebar {
  color: #fff;
}
#userlistBox {
  background-color: transparent;
  color: #4f5660;
}
#userlistBox td {
  background-color: transparent;
  color: #fff;
}
#userlistBox tr:nth-child(2n) {
  background-color: #27415b;
}
#userlistBox tr:nth-child(odd) {
  background-color: transparent;
}
#userlistBox tr.selected {
  background-color: #182f45 !important;
}
#userlistBox tr:hover {
  color: #fff;
  cursor: pointer;
  background-color: #182f45 !important;
}
.layerPreview {
  background-color: #354a67;
  border-left: 4px solid transparent;
}
.layerPreview img {
  border: 1px solid #dadbde;
}
.fmNumericInput.readOnly input {
  color: #777;
}
.fmNumericInput.readOnly button {
  background-color: #1f3346;
  color: #8b8c8e;
}
.fmNumericInput:not(.readOnly) button {
  background-color: #0f2336;
  color: #bdbebf;
}
.fmNumericInput:not(.readOnly) button:hover {
  background-color: #4f6278;
}
.fmSelector .btn {
  background-color: #3d5571;
  color: #a8b4c4;
}
.fmSelector .btn.selected {
  background-color: #0f2336;
}
.fmSelector .btn:not(.selected):hover {
  background-color: #4f6278;
}
.fmSlider {
  border-radius: 5px;
  border-color: #2a394e;
}
.fmSlider:not(.readOnly) > .fmThumb {
  background-color: #031621;
  color: #fff;
}
.fmSlider.readOnly > .fmThumb {
  background-color: #1f3346;
  color: #8b8c8e;
}
.fmSlider > .fmThumb {
  border-radius: 5px;
}
.fmSlider.readOnly {
  background-color: #41536a;
}
.fmSlider:not(.readOnly) {
  background-color: #41536a;
}
.fmSlider.readOnly > .fmSelectedArea {
  background-color: #0f2336;
}
.fmSlider:not(.readOnly) > .fmSelectedArea {
  background-color: #152c40;
}
.fmSlider:not(.readOnly) > .fmThumb:hover {
  background-color: #4f6278;
}
.fmButton.readOnly > a {
  background-color: gray;
}
.fmButton:not(.readOnly) > a {
  background-color: #152c40;
}
.fmButton > a {
  border-color: #2a394e;
}
.fmButton > a:hover {
  background-color: #4f6278;
}
.selectedLayer {
  background-color: #425b7c;
  border-left: 4px solid transparent;
}
.presetBubble {
  background-color: #fff;
  color: #333 !important;
}
.presetBubble:hover {
  color: red;
}
.colorBubble {
  border: 1px solid #4f5660;
  background-color: #4f5660;
}
.fmSwitch {
  border-radius: 5px;
  color: #fff;
  border-color: #2a394e;
}
.fmSwitch:not(.readOnly) > .checkLabel {
  color: #a8b4c4;
}
.fmSwitch.readOnly > .checkLabel {
  color: #777;
}
.fmSwitch:not(.readOnly) > .fmThumb {
  background-color: #031621;
}
.fmSwitch.readOnly > .fmThumb {
  background-color: #1f3346;
  color: #8b8c8e;
}
.fmSwitch > .fmThumb {
  border: 0;
}
.fmSwitch:not(.readOnly) > .fmThumb:hover {
  background-color: #4f6278;
}
.fmSwitch .fmOn {
  background-color: #152c40;
}
.fmSwitch .fmOff {
  background-color: #41536a;
}
.fmCheckbox > .simpleBox {
  border-radius: 5px;
  border: 1px solid #2a394e;
}
.fmCheckbox:not(.readOnly) > .simpleBox {
  background-color: #112738;
}
.fmCheckbox.readOnly > .simpleBox {
  background-color: #071f33;
}
.fmCheckbox:not(.readOnly) > .fmOn {
  color: green;
}
.fmCheckbox:not(.readOnly) > .fmOff {
  color: red;
}
.fmCheckbox.readOnly > .fmOn {
  color: #313d46;
}
.fmCheckbox.readOnly > .fmOff {
  color: #403e3e;
}
.sidemenu li a {
  color: #fff;
  border-bottom: 1px solid transparent;
}
.sidemenu li a:hover {
  background-color: #08192b;
}
.sidemenu li a.selected {
  background-color: #243d56;
  color: #fff;
}
.darkInput {
  background-color: #0f2336;
  color: #bdbebf;
  border-color: #263548;
}
.fmTable {
  background-color: #414d59;
  color: #fff;
}
.fmTable td {
  background-color: transparent;
  color: #fff;
}
.fmTable td a {
  color: #7d8e96;
}
.fmTable th {
  background-color: #293037;
  color: #fff;
}
.fmTable tr.selected {
  background-color: #182f47 !important;
}
.fmTable tr:hover {
  background-color: #112e44;
}
.fmTable tr:nth-child(2n) {
  background-color: #233c55;
}
.fmTable tr:nth-child(odd) {
  background-color: #27415b;
}
.headerTable {
  background-color: #071f33;
  color: #fff;
}
.headerCell:hover {
  outline: 1px solid #3c3d40;
  outline-offset: -1px;
}
.tablePagination.selected {
  background-color: #3c95b9;
}
.tablePaginationItem.noPage > a {
  background-color: #7c8d9e;
}
.tablePaginationItem.noPage > a:hover {
  background-color: #58697d;
}
.tablePaginationItem.divisorPage > a {
  background-color: #11273b;
  color: #4f5660;
}
.tablePagination {
  background-color: #41536a;
  color: #fff;
  margin-right: 2px;
}
.tablePagination:hover {
  background-color: #35516d;
  color: #a8b4c4;
}
.tableContainer .dataBody {
  background-color: #051d2b;
}
.sidebarTools .btn {
  border-radius: 0;
}
.layerPreview a {
  color: #acb3ba;
}
.optionBG {
  background-color: transparent;
}
.layerPreview:hover {
  background-color: #425b7c;
}
.layerPreviewContent span {
  color: #6e727e;
}
.toolbar a {
  color: #acb3ba;
}
.toolbar a:hover {
  color: #fff;
}
#drawingTools a:hover {
  background-color: #182f45;
}
.presetBubble:hover {
  border: 1px solid #072a41;
}
.colorBubble:hover {
  border: 1px solid #000;
}
.dialog .fmSlider,
.dialog .fmSwitch {
  background-color: #41536a;
  border: 1px solid #2f4055;
}
.dialog .fmSlider .fmSelectedArea {
  background-color: #152c40;
}
.dialog .fmSwitch .fmOn {
  background-color: #152c40;
}
.dialog .fmSwitch .fmOff {
  background-color: #3f5772;
}
.sidebarBlock {
  background-color: #000;
  opacity: 0.7;
}
.virtualCursor {
  color: #4f5660;
}
.roomThumb {
  color: #fff;
}
.previewThumb {
  background-color: #fff;
}
.roomDescription {
  background-color: #051d2b;
}
.roomBox {
  background-color: #41536a;
}
.tableBody {
  border: 1px solid #071f33;
}
.rankGM {
  font-weight: 500;
  color: #fd5ee1 !important;
}
.rankCO,
.rankRO {
  font-weight: 500;
  color: #ed9325 !important;
}
.rankLM {
  font-weight: 500;
  color: #1b83dd !important;
}
.rankFM {
  font-weight: 500;
  color: #2babba !important;
}
.rankRM {
  font-weight: 500;
  color: #46ac4b !important;
}
.rankTU {
  font-weight: 500;
  color: #d0dae3 !important;
}
.rankRU,
.rankUU {
  font-weight: 400;
  color: #a4adb5 !important;
}
.customTooltip {
  background-color: #d9dbe3;
  color: #4f5660;
}
.customTooltip kbd {
  background-color: #c1c3ca;
  color: #4f5660;
}
.paramRow .paramValue {
  background-color: #84868d;
  border: 1px solid #babcc3;
}
.dialogTitleButtons a {
  padding-right: 10px;
  padding-left: 10px;
}
.emojiContainer .background {
  background-color: #000;
  opacity: 0.6;
}
.emojilist {
  background-color: #182f45;
}
.emojilist .categories {
  background-color: #09213a;
}
.emojilist .categories > a > span {
  filter: grayscale(100%);
  opacity: 0.8;
  color: gray;
}
.emojilist .emojis > a {
  color: #fff;
}
.emojilist .emojis a:hover {
  opacity: 1;
  color: #fff;
}
.emojilist .categories > a > span:hover {
  filter: none;
}
.emojilist .categories > a:focus {
  color: gray;
}
.emojilist .categories > a.selected {
  background-color: #3d5571;
}
.submodal .subcontent {
  background-color: #2e4057;
  opacity: 0.95;
}
.submodal .sub-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
#sidebar {
  border-left-color: #2e4057 !important;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background-color: #3d4048;
}
.capacityBar {
  background-color: #102235;
  border: 1px solid #2b2d31;
}
.fmList > select {
  background-color: #41536a;
  border: 1px solid #2a394e;
}
.fmList:not(.readOnly) > select {
  color: #fff;
}
.channelTitle:not(.locked):hover {
  background-color: #08192b;
}
.channelTitle.selected {
  background-color: #243d56;
}
.channelTypeRoom.selected {
  border-color: #425b7c;
}
.channelTypeRoom:not(.selected) {
  border-color: #27415b;
}
.channelTypeUser.selected {
  border-color: #d6b147;
}
.channelTypeUser:not(.selected) {
  border-color: #e7d18f;
}
.dialogTitleButtons a:hover {
  color: #fff;
  background-color: #29425c;
}
.messageBlock {
  color: #fff;
}
.eventBlock {
  color: gray;
}
.motdBlock {
  color: #6dd56d;
}
.gmBlock {
  color: #e07ae3;
}
.badge-danger {
  background-color: #216ed8;
}
.badge-default {
  background-color: #3d5571;
}
.badge-secondary {
  background-color: #dbbf28;
  color: #000;
}
.btn-customlink {
  background-color: #243d56;
  color: #fff;
}
.btn-customlink:active,
.btn-customlink:focus,
.btn-customlink:hover {
  background-color: #021520;
  color: #fff;
}
.context-menu-list {
  background: #243d56;
  border: 1px solid #64646d;
}
.context-menu-item {
  background-color: #243d56;
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa::before {
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa.context-menu-hover::before {
  color: #fff;
}
.context-menu-separator {
  border-bottom: 1px solid #64646d;
}
.context-menu-item.context-menu-disabled {
  background-color: #243d56;
  color: #5b5b5b;
}
.context-menu-item:hover {
  background-color: #425b7c;
  color: #fff;
}
.context-menu-item.context-menu-disabled:hover {
  color: #5b5b5b;
}
.dropdown-menu {
  background: #243d56;
  border: 1px solid #64646d;
}
.dropdown-item {
  background: #243d56;
  color: #fff;
}
.dropdown-item:hover {
  background: #425b7c;
  color: #fff;
}
.openedEnvelope {
  color: #0e1f2f !important;
}
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.4);
}
.os-theme-light
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover {
  background: rgba(255, 255, 255, 0.3);
}
.os-theme-light
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:active {
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar {
  background: #071f33;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  cursor: grab;
}
::-webkit-scrollbar-corner {
  background: #071f33;
}
.designerBrush.selected {
  background-color: #425b7c;
}
.designerTools .btn:hover {
  background-color: #182f45;
}
.sidebarOptions a:hover {
  border-color: #425b7c;
}
.brush.selected {
  border-color: #182f45;
}
.brush:hover {
  border-color: #182f45;
}
#dropArea:hover {
  border-color: #9d9d9d;
}
.previewBox {
  outline: 2px solid black;
}
.containerSidebar .scrollNotBottom:not(.scrollNoOverflow)::after,
.dialog .scrollNotBottom:not(.scrollNoOverflow)::after {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #243d56 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(36, 61, 86, 0) 0
  );
}
.sidebar .scrollNotBottom:not(.scrollNoOverflow)::after {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #09213a 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(9, 33, 58, 0) 0
  );
}
fieldset {
  border-color: #182e46;
}
.animationTable td.selected {
  background-color: #0f2336;
}
.messengerUser:not(.selected) {
  border-color: #27415b;
}
.messengerUser.selected {
  background-color: #243d56;
  border-color: #425b7c;
}
.offlineDelete a:hover {
  border-color: #415060;
}
.likeButton.coloredButton:not(.disabled) {
  color: #216ed8 !important;
}
.dislikeButton.coloredButton:not(.disabled) {
  color: #216ed8 !important;
}
.favoriteButton.coloredButton:not(.disabled) {
  color: #d93030 !important;
}
#profileGallery {
  background-color: #243d56;
  border-color: #25466f;
}
.targetBlock.active {
  border: 2px solid #fff;
}
.dialogTitlebar .dialogTitle select {
  color: #1a2534;
}
.dialogTitlebar.inactive .dialogTitle select {
  color: #fff;
}
.dialogTitlebar .dialogTitle select:active,
.dialogTitlebar .dialogTitle select:focus,
.dialogTitlebar .dialogTitle select:hover {
  background-color: #29425c;
  color: #fff;
}
.usertagList {
  background-color: #09213a;
  outline: 2px solid #09213a;
}
.usertagList a.selected,
.usertagList a:hover {
  background-color: #08192b;
}
.chatTag:not(.chatTagUnknown) {
  color: #d6b147;
}
#headerTitle .msgCategory.msgCategoryPM {
  background-color: #dbbf28;
  color: #333;
}
#headerTitle .msgCategory.msgCategoryEVENT {
  background-color: #50657d;
  color: #ced1d7;
}
#headerTitle .msgCategory.msgCategoryMOTD {
  background-color: #6dd56d;
  color: #464646;
}
#headerTitle .msgCategory.msgCategoryPUBLICROOM,
#headerTitle .msgCategory.msgCategorySTAFFROOM {
  background-color: #5d7a97;
  color: #b4bec4;
}
#headerTitle .msgCategory.msgCategoryGM {
  background-color: #db90dd;
  color: #262626;
}
