body {
  background-color: #000;
  color: #fff;
}
a,
a:active,
a:focus,
a:link {
  color: #fff;
}
a:hover {
  color: #fff;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #fff;
  padding-bottom: 4px;
}
.table {
  color: #fff;
}
.headerBox {
  background-color: #4f4f55;
  color: #fff;
}
.navbar-light .navbar-brand {
  color: #fff;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #fff;
}
.navbar-brand sup {
  color: #7f7a83;
}
.navbar-light .navbar-nav .nav-link:hover {
  color: red;
}
.topNavbar {
  border-bottom: 2px solid #3b3b40;
  color: #fff;
}
.topNavbar > .container {
  background-color: #3a3c43;
}
.bottomNavbar {
  background-color: #5a5960;
  border-top: 2px solid #3b3b40;
  color: #1d1e22;
}
.sidebarNavbar {
  background-color: #2f3136;
  border-top: 1px solid #aaa;
  color: #fff;
}
.topNavbar .navbar-nav .nav-link {
  color: #acb3ba;
}
.bottomNavbar .nav-text,
.bottomNavbar .navbar-nav .nav-link {
  color: #b4b6ba;
}
.sidebarNavbar .navbar-nav .nav-link:not(.disabled) {
  color: #8e9297;
}
.sidebarNavbar .navbar-nav .nav-link.disabled {
  color: #666262;
}
.topNavbar .navbar-nav .nav-link:active,
.topNavbar .navbar-nav .nav-link:focus,
.topNavbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #2e2f35;
}
.bottomNavbar .navbar-nav .nav-link:active,
.bottomNavbar .navbar-nav .nav-link:focus,
.bottomNavbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #4b4a50;
}
.sidebarNavbar .navbar-nav .nav-link:active,
.sidebarNavbar .navbar-nav .nav-link:focus,
.sidebarNavbar .navbar-nav .nav-link:hover {
  color: #fff;
  background-color: #3c3d43;
}
.bottomNavbar .selected {
  background-color: #999;
}
.topNavbar .dropdown-menu {
  border: 1px solid #353f58 !important;
  background-color: #4b4a50 !important;
}
.topNavbar .dropdown-item {
  background-color: #4a7492 !important;
}
.topNavbar .dropdown-item:hover {
  background-color: #406580 !important;
}
#topbarProgress .bar {
  background-color: #378de4;
}
.nav-separator {
  background-color: #3b3b40;
}
.dialogTitlebar {
  background-color: #4f4f55;
  color: #fff;
}
.dialogTitlebar.inactive {
  background-color: #1d1e22;
}
.dialog {
  color: #fff;
  background-color: #1d1e22;
  border-color: #707379;
}
.dialogTitle a {
  color: #abadb1;
}
.dialogArea {
  background-color: #2f3136;
}
.dynamicDialogArea {
  background-color: #2f3136;
  color: #fff;
}
.dialog .form-control {
  background-color: #43444a;
  border: 1px solid #43444a;
  color: #fff;
}
.dialog .form-control:focus {
  background-color: #43444a;
  border: 1px solid #43444a;
  color: #fff;
}
.dialog > .form-control:disabled,
.form-control[readonly] {
  background-color: #43444a;
  border: 1px solid #43444a;
  color: #d9d7d7;
}
.btn-danger.disabled,
.btn-default.disabled,
.btn-info.disabled,
.btn-primary.disabled,
.btn-secondary.disabled,
.btn-success.disabled,
.btn-warning.disabled {
  background-color: #7c7f87;
  border: 1px solid #7c7f87;
  color: #aeaeae;
}
.btn-danger:not(:disabled):not(.disabled),
.btn-danger:not(:disabled):not(.disabled):focus,
.btn-default:not(:disabled):not(.disabled),
.btn-default:not(:disabled):not(.disabled):focus,
.btn-info:not(:disabled):not(.disabled),
.btn-info:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled),
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled),
.btn-success:not(:disabled):not(.disabled):focus,
.btn-warning:not(:disabled):not(.disabled),
.btn-warning:not(:disabled):not(.disabled):focus {
  background-color: #7c7f87;
  border: 1px solid #7c7f87;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled):active,
.show
  > .btn-danger.dropdown-toggle
  .btn-info:not(:disabled):not(.disabled).active,
.show
  > .btn-default.dropdown-toggle
  .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle,
.show
  > .btn-primary.dropdown-toggle
  .btn-secondary:not(:disabled):not(.disabled).active,
.show
  > .btn-secondary.dropdown-toggle
  .btn-success:not(:disabled):not(.disabled).active,
.show
  > .btn-success.dropdown-toggle
  .btn-warning:not(:disabled):not(.disabled).active,
.show
  > .btn-warning.dropdown-toggle
  .btn-danger:not(:disabled):not(.disabled).active {
  background-color: #9fa3ac;
  border: 1px solid #9fa3ac;
  color: #fff;
}
.btn-danger:not(:disabled):not(.disabled):hover,
.btn-default:not(:disabled):not(.disabled):hover,
.btn-info:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-success:not(:disabled):not(.disabled):hover,
.btn-warning:not(:disabled):not(.disabled):hover {
  background-color: #47494d;
  border: 1px solid #47494d;
  color: #fff;
}
.btn-default:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled) {
  background-color: #c4c8d2;
  border: 1px solid #d7d8db;
  color: #47494d;
}
.btn-secondary:not(:disabled):not(.disabled):hover {
  background-color: #8e9095;
  border: 1px solid #a6a7aa;
  color: #eaeaec;
}
.btn-transparent {
  color: #fff;
}
.dialogSize.dsBar,
.dialogSize.dsCorner {
  border: 2px solid #707379;
  background-color: #707379;
}
#alertContainer .alertMessage {
  background-color: #3a3c43;
  border: 3px solid #a6a8ad;
  border-radius: 4px;
}
#alertContainer .alertMessage .alertProgress {
  background-color: #fff;
}
#confirmationContainer .confirmContent {
  background-color: #3a3c43;
  border: 3px solid #a6a8ad;
  border-radius: 4px;
}
.userlistStatus {
  color: #6d7279;
}
#sidebar {
  background-color: #1d1e22;
}
#sidebar p {
  color: #acb7bc;
}
.containerSidebar .containerFooter {
  background-color: #3a3c43;
  color: gray;
}
.boxBgContainer .containerContent {
  background-color: #2f3136;
}
.toolbar {
  background-color: #3a3c43;
}
.selectedTool {
  color: #fff !important;
  background-color: #707379 !important;
  border-radius: 0;
}
.btn-secondary {
  color: #000;
  background-color: #cecece;
  border-color: #cecece;
}
#DrawingArea {
  background-color: #666;
}
.containerSidebar .containerTitle {
  color: #acb7bc;
}
.sidebarCollapseIcon {
  color: #fff;
}
#sidebar {
  color: #fff;
}
#userlistBox {
  background-color: transparent;
  color: #4f5660;
}
#userlistBox td {
  background-color: transparent;
  color: #fff;
}
#userlistBox tr:nth-child(2n) {
  background-color: #434750;
}
#userlistBox tr:nth-child(odd) {
  background-color: transparent;
}
#userlistBox tr.selected {
  color: #fff;
  background-color: #232327 !important;
}
#userlistBox tr:hover {
  color: #fff;
  background-color: #232327 !important;
}
.layerPreview {
  background-color: #3a3c43;
  border-left: 4px solid transparent;
}
.layerPreview img {
  border: 1px solid #dadbde;
}
.fmNumericInput.readOnly input {
  color: gray;
}
.fmNumericInput.readOnly button {
  background-color: #2f2f33;
  color: #8b8c8e;
}
.fmNumericInput:not(.readOnly) button {
  background-color: #202025;
  color: #bdbebf;
}
.fmNumericInput:not(.readOnly) button:hover {
  background-color: #4d5055;
}
.fmSelector .btn {
  background-color: #43444a;
  color: #fff;
}
.fmSelector .btn.selected {
  background-color: #202025;
}
.fmSelector .btn:not(.selected):hover {
  background-color: #4d5055;
}
.fmSlider {
  border-radius: 5px;
  border-color: #464b54;
}
.fmSlider:not(.readOnly) > .fmThumb {
  background-color: #0f1011;
  color: #fff;
}
.fmSlider.readOnly > .fmThumb {
  background-color: #444548;
  color: #8b8c8e;
}
.fmSlider > .fmThumb {
  border-radius: 5px;
}
.fmSlider.readOnly {
  background-color: #242429;
}
.fmSlider:not(.readOnly) {
  background-color: #414349;
}
.fmSlider.readOnly > .fmSelectedArea {
  background-color: #27282d;
}
.fmSlider:not(.readOnly) > .fmSelectedArea {
  background-color: #27282d;
}
.fmSlider:not(.readOnly) > .fmThumb:hover {
  background-color: #62626a;
}
.fmButton.readOnly > a {
  background-color: gray;
}
.fmButton:not(.readOnly) > a {
  background-color: #27282d;
}
.fmButton > a {
  border-color: #464b54;
}
.fmButton > a:hover {
  background-color: #62626a;
}
.selectedLayer {
  background-color: #434750;
  border-left: 4px solid transparent;
}
.presetBubble {
  background-color: #fff;
  color: #333 !important;
}
.presetBubble:hover {
  color: red;
}
.colorBubble {
  border: 1px solid #4f5660;
  background-color: #4f5660;
}
.fmSwitch {
  border-radius: 5px;
  color: #fff;
  border-color: #464b54;
}
.fmSwitch.readOnly > .checkLabel {
  color: #5e5f62;
}
.fmSwitch:not(.readOnly) > .fmThumb {
  background-color: #0f1011;
}
.fmSwitch.readOnly > .fmThumb {
  background-color: #2f2f33;
  color: #8b8c8e;
}
.fmSwitch > .fmThumb {
  border: 0;
}
.fmSwitch:not(.readOnly) > .fmThumb:hover {
  background-color: #5e6268;
}
.fmSwitch .fmOn {
  background-color: #27282d;
}
.fmSwitch .fmOff {
  background-color: #414349;
}
.fmCheckbox > .simpleBox {
  border-radius: 5px;
  border: 1px solid #464b54;
}
.fmCheckbox:not(.readOnly) > .simpleBox {
  background-color: #222328;
}
.fmCheckbox:not(.readOnly) > .simpleBox:hover {
  border: 1px solid #43444a;
}
.fmCheckbox.readOnly > .simpleBox {
  background-color: #222328;
}
.fmCheckbox:not(.readOnly) > .fmOn {
  color: green;
}
.fmCheckbox:not(.readOnly) > .fmOff {
  color: red;
}
.fmCheckbox.readOnly > .fmOn {
  color: #403e3e;
}
.fmCheckbox.readOnly > .fmOff {
  color: #403e3e;
}
.optionBG .fmCheckbox:not(.readOnly) > .fmOn {
  color: #bdbdbd;
}
.sidemenu li a {
  color: #fff;
  border-bottom: 1px solid transparent;
}
.sidemenu li a:hover {
  background-color: #26282d;
}
.sidemenu li a.selected {
  background-color: #2f3136;
  color: #fff;
}
.darkInput {
  background-color: #202025;
  color: #bdbebf;
  border-color: #202025;
}
.fmTable {
  background-color: #414d59;
  color: #fff;
}
.fmTable td {
  background-color: transparent;
  color: #fff;
}
.fmTable td a {
  color: #7d8e96;
}
.fmTable th {
  background-color: #293037;
  color: #fff;
}
.fmTable tr.selected {
  background-color: #64626b !important;
}
.fmTable tr:hover {
  background-color: #737f8c;
}
.fmTable tr:nth-child(2n) {
  background-color: #414349;
}
.fmTable tr:nth-child(odd) {
  background-color: #35363b;
}
.headerTable {
  background-color: #1d1e22;
  color: #fff;
}
.headerCell:hover {
  outline: 1px solid #3c3d40;
  outline-offset: -1px;
}
.tablePagination.selected {
  background-color: #3c95b9;
}
.tablePaginationItem.noPage > a {
  background-color: #707379;
}
.tablePaginationItem.divisorPage > a {
  background-color: #27282d;
  color: #4f5660;
}
.tablePagination {
  background-color: #414349;
  color: #fff;
  margin-right: 2px;
}
.tablePagination:hover {
  color: #4f5660;
}
.tableContainer .dataBody {
  background-color: #1d1e22;
}
.sidebarTools .btn {
  border-radius: 0;
}
.layerPreview a {
  color: #acb3ba;
}
.optionBG {
  background-color: transparent;
}
.layerPreview:hover {
  background-color: #434750;
}
.layerPreviewContent span {
  color: #6e727e;
}
.toolbar a {
  color: #acb3ba;
}
.toolbar a:hover {
  color: #fff;
}
#drawingTools a:hover {
  background-color: #2e2f35;
}
.presetBubble:hover {
  border: 1px solid #072a41;
}
.colorBubble:hover {
  border: 1px solid #000;
}
.dialog .fmSlider,
.dialog .fmSwitch {
  background-color: #43444a;
  border: 1px solid #43444a;
}
.sidebarBlock {
  background-color: #000;
  opacity: 0.7;
}
.virtualCursor {
  color: #4f5660;
}
.roomThumb {
  color: #fff;
}
.previewThumb {
  background-color: #fff;
}
.roomDescription {
  background-color: #1d1e22;
}
.roomBox {
  background-color: #414349;
}
.tableBody {
  border: 1px solid #27282d;
}
.rankGM {
  font-weight: 500;
  color: #fd5ee1 !important;
}
.rankCO,
.rankRO {
  font-weight: 500;
  color: #ed9325 !important;
}
.rankLM {
  font-weight: 500;
  color: #1b83dd !important;
}
.rankFM {
  font-weight: 500;
  color: #2babba !important;
}
.rankRM {
  font-weight: 500;
  color: #46ac4b !important;
}
.rankTU {
  font-weight: 500;
  color: #d0dae3 !important;
}
.rankRU,
.rankUU {
  font-weight: 400;
  color: #a4adb5 !important;
}
.customTooltip {
  background-color: #d9dbe3;
  color: #4f5660;
}
.customTooltip kbd {
  background-color: #c1c3ca;
  color: #4f5660;
}
.paramRow .paramValue {
  background-color: #84868d;
  border: 1px solid #babcc3;
}
.dialogTitleButtons a {
  padding-right: 10px;
  padding-left: 10px;
}
.emojiContainer .background {
  background-color: #000;
  opacity: 0.6;
}
.emojilist {
  background-color: #2f3136;
}
.emojilist .categories {
  background-color: #1d1e22;
}
.emojilist .categories > a > span {
  filter: grayscale(100%);
  opacity: 0.8;
  color: gray;
}
.emojilist .emojis > a {
  color: #fff;
}
.emojilist .emojis a:hover {
  opacity: 1;
  color: #fff;
}
.emojilist .categories > a > span:hover {
  filter: none;
}
.emojilist .categories > a:focus {
  color: gray;
}
.emojilist .categories > a.selected {
  background-color: #9c9ea7;
}
.submodal .subcontent {
  background-color: #1c1d20;
  opacity: 0.95;
}
.submodal .sub-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
#sidebar {
  border-left-color: #3b3b40 !important;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background-color: #3d4048;
}
.capacityBar {
  background-color: #1f2225;
  border: 1px solid #2b2d31;
}
.fmList > select {
  background-color: #414349;
  border: 1px solid #464b54;
}
.fmList:not(.readOnly) > select {
  color: #fff;
}
.channelTitle:not(.locked):hover {
  background-color: #26282d;
}
.channelTitle.selected {
  background-color: #2f3136;
}
.channelTypeRoom.selected {
  border-color: #7f7f85;
}
.channelTypeRoom:not(.selected) {
  border-color: #515259;
}
.channelTypeUser.selected {
  border-color: #d6b147;
}
.channelTypeUser:not(.selected) {
  border-color: #e7d18f;
}
.dialogTitleButtons a:hover {
  color: #fff;
  background-color: #57575e;
}
.messageBlock {
  color: #fff;
}
.eventBlock {
  color: gray;
}
.motdBlock {
  color: #6dd56d;
}
.gmBlock {
  color: #e07ae3;
}
.badge-danger {
  background-color: #216ed8;
}
.badge-secondary {
  background-color: #dbbf28;
  color: #000;
}
.btn-customlink {
  background-color: #2f3136;
  color: #fff;
}
.btn-customlink:active,
.btn-customlink:focus,
.btn-customlink:hover {
  background-color: #46474d;
  color: #fff;
}
.context-menu-list {
  background: #25252b;
  border: 1px solid #64646d;
}
.context-menu-item {
  background-color: #25252b;
  color: #fff;
}
.context-menu-separator {
  border-bottom: 1px solid #64646d;
}
.context-menu-item.context-menu-disabled {
  background-color: #25252b;
  color: #5b5b5b;
}
.context-menu-item:hover {
  background-color: #45454c;
  color: #fff;
}
.context-menu-item.context-menu-disabled:hover {
  color: #5b5b5b;
}
.context-menu-icon.context-menu-icon--fa::before {
  color: #fff;
}
.context-menu-icon.context-menu-icon--fa.context-menu-hover::before {
  color: #fff;
}
.dropdown-menu {
  background: #25252b;
  border: 1px solid #64646d;
}
.dropdown-item {
  background: #25252b;
  color: #fff;
}
.dropdown-item:hover {
  background: #45454c;
  color: #fff;
}
.openedEnvelope {
  color: #27282d !important;
}
#colorBox .color {
  outline-color: #1d1e22;
  border-color: #686868;
}
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(255, 255, 255, 0.4);
}
.os-theme-light
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover {
  background: rgba(255, 255, 255, 0.3);
}
.os-theme-light
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:active {
  background: rgba(255, 255, 255, 0.3);
}
::-webkit-scrollbar {
  background: #1a1b1f;
}
::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.4);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  cursor: grab;
}
::-webkit-scrollbar-corner {
  background: #1a1b1f;
}
.designerBrush.selected {
  background-color: #707379;
}
.designerTools .btn:hover {
  background-color: #2e2f35;
}
.sidebarOptions a:hover {
  border-color: #707379;
}
.brush.selected {
  border-color: #2e2f35;
}
.brush:hover {
  border-color: #2e2f35;
}
#dropArea:hover {
  border-color: #535050;
}
.previewBox {
  outline: 2px solid black;
}
.containerSidebar .scrollNotBottom:not(.scrollNoOverflow)::after,
.dialog .scrollNotBottom:not(.scrollNoOverflow)::after {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #2f3136 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(47, 49, 54, 0) 0
  );
}
.sidebar .scrollNotBottom:not(.scrollNoOverflow)::after {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #1d1e22 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(29, 30, 34, 0) 0
  );
}
fieldset {
  border-color: #43444a;
}
.animationTable td.selected {
  background-color: #202025;
}
#animationBox .btn {
  background-color: #27282d;
  border-color: #414349;
}
#animationBox .btn:hover {
  background-color: #62626a;
}
#animationBox .btn.disabled,
#animationBox .btn:disabled {
  color: #464646;
}
.messengerUser:not(.selected) {
  border-color: #515259;
}
.messengerUser.selected {
  background-color: #2f3136;
  border-color: #7f7f85;
}
.offlineDelete a:hover {
  border-color: #40434a;
}
.likeButton.coloredButton:not(.disabled) {
  color: #2861ae !important;
}
.dislikeButton.coloredButton:not(.disabled) {
  color: #2861ae !important;
}
.favoriteButton.coloredButton:not(.disabled) {
  color: #ae0909 !important;
}
#profileGallery {
  background-color: #2f3136;
  border-color: #17181b;
}
.targetBlock.active {
  border: 2px solid #fff;
}
.dialogTitlebar .dialogTitle select:active,
.dialogTitlebar .dialogTitle select:focus,
.dialogTitlebar .dialogTitle select:hover {
  background-color: #57575e;
}
.usertagList {
  background-color: #1d1e22;
  outline: 2px solid #1d1e22;
}
.usertagList a.selected,
.usertagList a:hover {
  background-color: #26282d;
}
.chatTag:not(.chatTagUnknown) {
  color: #d6b147;
}
#headerTitle .msgCategory.msgCategoryPM {
  background-color: #d6b147;
  color: #333;
}
#headerTitle .msgCategory.msgCategoryEVENT {
  background-color: #888;
  color: #333;
}
#headerTitle .msgCategory.msgCategoryMOTD {
  background-color: #6dd56d;
  color: #464646;
}
#headerTitle .msgCategory.msgCategoryPUBLICROOM,
#headerTitle .msgCategory.msgCategorySTAFFROOM {
  background-color: #7f7f85;
  color: #2d2d2d;
}
#headerTitle .msgCategory.msgCategoryGM {
  background-color: #db90dd;
  color: #262626;
}
