body {
  background-color: #fff;
  color: #4f5660;
}
a,
a:active,
a:focus,
a:link {
  color: #4f5660;
}
a:hover {
  color: #25282d;
}
h1,
h2,
h3,
h4,
h5,
h6 {
  color: #4f5660;
  padding-bottom: 4px;
}
.table {
  color: #4f5660;
}
.headerBox {
  background-color: #fff;
  color: #4f5660;
}
.navbar-light .navbar-brand {
  color: #4f5660;
}
.navbar-light .navbar-brand:focus,
.navbar-light .navbar-brand:hover {
  color: #4f5660;
}
.topNavbar {
  border-bottom: 2px solid #c1c3c9;
  color: #fff;
}
.topNavbar > .container {
  background-color: #d9dbe1;
}
.bottomNavbar {
  background-color: #fff;
  border-top: 2px solid #4f5660;
  color: #464646;
}
.sidebarNavbar {
  background-color: #fff;
  border-top: 1px solid #c1c3c9;
  color: #464646;
}
.topNavbar .navbar-nav .nav-link {
  color: #4f5660;
}
.bottomNavbar .navbar-nav .nav-link {
  color: #4f5660;
}
.sidebarNavbar .navbar-nav .nav-link:not(.disabled) {
  color: #4f5660;
}
.sidebarNavbar .navbar-nav .nav-link.disabled {
  color: #cecdcd;
}
.topNavbar .navbar-nav .nav-link:hover {
  color: #241919;
  background-color: #b0b2ba;
}
.sidebarNavbar .navbar-nav .nav-link:hover {
  color: #25282d;
  background-color: #e0e2e9;
}
.bottomNavbar .navbar-nav .nav-link:hover {
  color: #25282d;
  background-color: #e0e2e9;
}
.bottomNavbar .selected {
  background-color: #999;
}
.topNavbar .dropdown-menu {
  border: 1px solid #353f58 !important;
  background-color: #4a7492 !important;
}
.topNavbar .dropdown-item {
  background-color: #4a7492 !important;
}
.topNavbar .dropdown-item:hover {
  background-color: #406580 !important;
}
#topbarProgress .bar {
  background-color: #6cb0f1;
}
.nav-separator {
  background-color: #dedfe2;
}
.dialogTitlebar {
  background-color: #c1c3c9;
}
.dialogTitlebar.inactive {
  background-color: #dddfe6;
}
.dialog {
  color: #4f5660;
  background-color: #dddfe6;
  border-color: #d9dbe1;
}
.dialogTitle {
  color: #4f5660;
}
.dialogTitle a {
  color: #4f5660;
}
.leftSide {
  background: #fff;
}
.dynamicDialogArea {
  background-color: #fff;
  color: #4f5660;
}
.dialog .form-control {
  background-color: #f5f5f7;
  border: 1px solid #e6e8eb;
  color: #4f5660;
}
.dialog .form-control:focus {
  background-color: #f5f5f7;
  border: 1px solid #e6e8eb;
  color: #4f5660;
}
.dialog > .form-control:disabled,
.form-control[readonly] {
  background-color: #f5f5f7;
  border: 1px solid #e6e8eb;
  color: gray;
}
.btn-danger:not(:disabled):not(.disabled),
.btn-danger:not(:disabled):not(.disabled):focus,
.btn-default:not(:disabled):not(.disabled),
.btn-default:not(:disabled):not(.disabled):focus,
.btn-info:not(:disabled):not(.disabled),
.btn-info:not(:disabled):not(.disabled):focus,
.btn-primary:not(:disabled):not(.disabled),
.btn-primary:not(:disabled):not(.disabled):focus,
.btn-success:not(:disabled):not(.disabled),
.btn-success:not(:disabled):not(.disabled):focus,
.btn-warning:not(:disabled):not(.disabled),
.btn-warning:not(:disabled):not(.disabled):focus {
  background-color: #c1c3c9;
  border: 1px solid #c1c3c9;
  color: #4f5660;
}
.btn-danger.disabled,
.btn-default.disabled,
.btn-info.disabled,
.btn-primary.disabled,
.btn-secondary.disabled,
.btn-success.disabled,
.btn-warning.disabled {
  background-color: #c1c3c9;
  border: 1px solid #c1c3c9;
  color: #4f5660;
}
.btn-danger:not(:disabled):not(.disabled):active,
.btn-default:not(:disabled):not(.disabled).active,
.btn-default:not(:disabled):not(.disabled):active,
.btn-info:not(:disabled):not(.disabled):active,
.btn-primary:not(:disabled):not(.disabled):active,
.btn-secondary:not(:disabled):not(.disabled):active,
.btn-success:not(:disabled):not(.disabled):active,
.btn-warning:not(:disabled):not(.disabled):active,
.show
  > .btn-danger.dropdown-toggle
  .btn-info:not(:disabled):not(.disabled).active,
.show
  > .btn-default.dropdown-toggle
  .btn-primary:not(:disabled):not(.disabled).active,
.show > .btn-info.dropdown-toggle,
.show
  > .btn-primary.dropdown-toggle
  .btn-secondary:not(:disabled):not(.disabled).active,
.show
  > .btn-secondary.dropdown-toggle
  .btn-success:not(:disabled):not(.disabled).active,
.show
  > .btn-success.dropdown-toggle
  .btn-warning:not(:disabled):not(.disabled).active,
.show
  > .btn-warning.dropdown-toggle
  .btn-danger:not(:disabled):not(.disabled).active {
  background-color: #c1c3c9;
  border: 1px solid #c1c3c9;
  color: #4f5660;
}
.btn-danger:not(:disabled):not(.disabled):hover,
.btn-default:not(:disabled):not(.disabled):hover,
.btn-info:not(:disabled):not(.disabled):hover,
.btn-primary:not(:disabled):not(.disabled):hover,
.btn-success:not(:disabled):not(.disabled):hover,
.btn-warning:not(:disabled):not(.disabled):hover {
  background-color: #a4a6ad;
  border: 1px solid #a4a6ad;
  color: #4f5660;
}
.btn-default:not(:disabled):not(.disabled):focus,
.btn-secondary:not(:disabled):not(.disabled) {
  background-color: #e8eaf0;
  border: 1px solid #d7d8db;
  color: #47494d;
}
.btn-secondary:not(:disabled):not(.disabled):hover {
  background-color: #fbfbfb;
  border: 1px solid #d1d2d5;
  color: #4f5660;
}
.btn-transparent {
  color: #4f5660;
}
.dialogSize.dsBar,
.dialogSize.dsCorner {
  border: 2px solid #d9dbe1;
  background-color: #d9dbe1;
}
#alertContainer .alertMessage {
  background-color: #e5e8eb;
  border: 3px solid #a6a8ad;
  border-radius: 4px;
}
#alertContainer .alertMessage .alertProgress {
  background-color: #6cb0f1;
}
#confirmationContainer .confirmContent {
  background-color: #e5e8eb;
  border: 3px solid #a6a8ad;
  border-radius: 4px;
}
.userlistStatus {
  color: #4f5660;
}
#sidebar {
  background-color: #c1c3c9;
}
.containerSidebar .containerFooter {
  background-color: #fff;
}
.boxBgContainer .containerContent {
  background-color: #fff;
}
.toolbar {
  background-color: #d9dbe1;
}
.selectedTool {
  background-color: #fff;
  border-radius: 0;
}
#DrawingArea {
  background-color: #666;
}
.containerSidebar .containerTitle {
  color: #4f5660;
}
.sidebarCollapseIcon {
  color: #4f5660;
}
#sidebar {
  color: #4f5660;
}
#userlistBox {
  background-color: transparent;
  color: #4f5660;
}
#userlistBox td {
  background-color: transparent;
  color: #4f5660;
}
#userlistBox tr:nth-child(2n) {
  background-color: #e8ebed;
}
#userlistBox tr:nth-child(odd) {
  background-color: transparent;
}
#userlistBox tr.selected {
  background-color: #dee0e5 !important;
}
#userlistBox tr:hover {
  background-color: #dee0e5 !important;
}
.layerPreview {
  background-color: #e9ebef;
  border-left: 4px solid transparent;
}
.layerPreview img {
  border: 1px solid #bbbec7;
}
.fmNumericInput.readOnly input {
  color: #ccc;
}
.fmNumericInput.readOnly button {
  background-color: #d6d8de;
  color: #ccc;
}
.fmNumericInput:not(.readOnly) button {
  background-color: #e2e4e8;
  color: #4f5660;
}
.fmNumericInput:not(.readOnly) button:hover {
  background-color: #9a9ea6;
}
.fmSelector .btn {
  background-color: #f5f5f7;
  color: #4f5660;
}
.fmSelector .btn.selected {
  background-color: #c4c7cc;
}
.fmSelector .btn:not(.selected):hover {
  background-color: #9a9ea6;
}
.fmSlider {
  background-color: #e9eaee;
  border-radius: 5px;
}
.fmSlider:not(.readOnly) > .fmThumb {
  background-color: #c4c7cc;
  color: #0e0e0e;
}
.fmSlider.readOnly > .fmThumb {
  background-color: #c4c7cc;
  color: #0e0e0e;
}
.fmSlider > .fmThumb {
  border-radius: 5px;
}
.fmSlider.readOnly > .fmSelectedArea {
  background-color: #d6d8de;
}
.fmSlider:not(.readOnly) > .fmSelectedArea {
  background-color: #d6d8de;
}
.fmSlider:not(.readOnly) > .fmThumb:hover {
  color: #25282d;
  background-color: #9a9ea6;
}
.fmButton.readOnly > a {
  background-color: gray;
}
.fmButton:not(.readOnly) > a {
  background-color: #e2e4e8;
}
.fmButton > a {
  border-color: gray;
}
.fmButton > a:hover {
  background-color: #9a9ea6;
}
.selectedLayer {
  background-color: #fff;
  border-left: 4px solid transparent;
}
.presetBubble {
  background-color: #fff;
  color: #333 !important;
}
.colorBubble {
  border: 1px solid #4f5660;
  background-color: #4f5660;
}
.fmSwitch {
  border-radius: 5px;
}
.fmSwitch:not(.readOnly) > .fmThumb {
  background-color: #c4c7cc;
  color: #0e0e0e;
}
.fmSwitch.readOnly > .fmThumb {
  background-color: #3e4a59;
}
.fmSwitch > .fmThumb {
  border: 0;
}
.fmSwitch:not(.readOnly) > .fmThumb:hover {
  background-color: #9a9ea6;
}
.fmSwitch .fmOn {
  background-color: #d6d8de;
}
.fmSwitch .fmOff {
  background-color: #e8ebed;
}
.fmSwitch:not(.readOnly) > .checkLabel {
  color: #4f5660;
}
.fmSwitch.readOnly > .checkLabel {
  color: #ccc;
}
.fmCheckbox > .simpleBox {
  border-radius: 5px;
  border: 1px solid #e6e8eb;
}
.fmCheckbox:not(.readOnly) > .simpleBox {
  background-color: #f5f5f7;
}
.fmCheckbox.readOnly > .simpleBox {
  background-color: #d9dbe1;
}
.fmCheckbox:not(.readOnly) > .fmOn {
  color: green;
}
.fmCheckbox:not(.readOnly) > .fmOff {
  color: red;
}
.sidemenu li a {
  color: #4f5660;
  border-bottom: 1px solid transparent;
}
.sidemenu li a:hover {
  background-color: #c9cbd3;
}
.sidemenu li a.selected {
  background-color: #fff;
  color: #4f5660;
}
.darkInput {
  background-color: #e2e4e8;
  color: #4f5660;
  border-color: #e6e8eb;
}
.fmTable {
  background-color: #414d59;
  color: #4f5660;
}
.fmTable td {
  background-color: transparent;
  color: #4f5660;
}
.fmTable td a {
  color: #7d8e96;
}
.fmTable th {
  background-color: #293037;
  color: #fff;
}
.fmTable tr:nth-child(2n) {
  background-color: #fff;
}
.fmTable tr:nth-child(odd) {
  background-color: #d9dbe3;
}
.fmTable tr:hover {
  background-color: #e6e7ee;
}
.fmTable tr.selected {
  background-color: #d0cfd7;
}
.headerTable {
  background-color: #c1c3c9;
  color: #4f5660;
}
.headerCell:hover {
  background-color: #c1c3c9;
}
.tablePagination.selected {
  background-color: #6cb0f1;
}
.tablePagination.selected:hover {
  background-color: #86c3ff;
}
.tablePaginationNumber a:hover {
  background-color: #e4e4e9;
}
.tablePaginationItem.noPage > a {
  background-color: #f0f0f5;
}
.tablePaginationItem.noPage > a:hover {
  background-color: #fafbff;
}
.tablePaginationItem.divisorPage > a {
  background-color: #e2e4e8;
  color: #4f5660;
}
.tablePagination {
  background-color: #d4d4db;
  color: #4f5660;
  margin-right: 2px;
}
.tablePagination:hover {
  color: #4f5660;
}
.tableContainer .dataBody {
  background-color: #b2b4bc;
}
.sidebarTools .btn {
  border-radius: 0;
}
.layerPreview a {
  color: #4f5660;
}
.optionBG {
  background-color: transparent;
}
.layerPreview:hover {
  background-color: #dadce3;
}
.toolbar a {
  color: #4f5660;
}
.toolbar a:hover {
  color: #26282e;
}
#drawingTools a:hover {
  background-color: #b0b2ba;
}
.presetBubble:hover {
  border: 1px solid #333435;
}
.colorBubble:hover {
  border: 1px solid #333435;
}
.dialog .fmSlider,
.dialog .fmSwitch {
  background-color: #f5f5f7;
  border: 1px solid #e6e8eb;
}
.sidebarBlock {
  background-color: #fff;
  opacity: 0.4;
}
.virtualCursor {
  color: #4f5660;
}
.roomThumb {
  color: #27282d;
}
.previewThumb {
  background-color: #fff;
}
.roomDescription {
  background-color: #ccd2d9;
}
.roomBox {
  background-color: #abadb5;
}
.tableBody {
  border: 1px solid #babdc5;
}
.rankGM {
  font-weight: 500;
  color: #fd5efc !important;
}
.rankCO,
.rankRO {
  font-weight: 500;
  color: #e29231 !important;
}
.rankLM {
  font-weight: 500;
  color: #5f7fc5 !important;
}
.rankFM {
  font-weight: 500;
  color: #49a7b1 !important;
}
.rankRM {
  font-weight: 500;
  color: #46ac4b !important;
}
.rankTU {
  font-weight: 500;
  color: #606872 !important;
}
.rankRU,
.rankUU {
  font-weight: 400;
  color: #8d939d !important;
}
.customTooltip {
  background-color: #d9dbe3;
  color: #4f5660;
}
.paramRow .paramValue {
  background-color: #84868d;
  border: 1px solid #babcc3;
}
.dialogTitleButtons a {
  padding-right: 10px;
  padding-left: 10px;
}
.dialogTitleButtons a:hover {
  background-color: #a7a8b0;
}
.dialog > .form-control:disabled,
.form-control[readonly] {
  background-color: #f4f4f6;
}
.emojiContainer .background {
  background-color: #000;
  opacity: 0.6;
}
.emojilist {
  background-color: #fff;
  border: 1px solid #707379;
}
.emojilist .categories {
  background-color: #babcc3;
}
.emojilist .categories > a > span {
  filter: grayscale(100%);
  opacity: 0.8;
  color: gray;
}
.emojilist .emojis > a {
  color: #000;
}
.emojilist .emojis a:hover {
  opacity: 1;
  color: #000;
}
.emojilist .categories > a > span:hover {
  filter: none;
}
.emojilist .categories > a:focus {
  color: gray;
}
.emojilist .categories > a.selected {
  background-color: #707379;
}
.submodal .subcontent {
  background-color: #d3d4d9;
  opacity: 0.85;
}
.submodal .sub-title {
  margin-top: 15px;
  margin-bottom: 15px;
}
#sidebar {
  border-left-color: #c1c3c9 !important;
}
#sidebar ul li.active > a,
a[aria-expanded="true"] {
  background-color: #dcdee6;
}
.capacityBar {
  background-color: #fff;
  border: 1px solid #e3e5e8;
}
.capacityBar > div {
  background-color: #3aa8d4;
}
.fmList > select {
  background-color: #e8ebed;
  border: 1px solid gray;
}
.fmList:not(.readOnly) > select {
  color: #4f5660;
}
.badge-danger {
  background-color: #6cb0f1;
  color: #fff;
}
.badge-secondary {
  background-color: gold;
  color: #000;
}
.channelTitle:not(.locked):hover {
  background-color: #c9cbd3;
}
.channelTitle.selected {
  background-color: #fff;
}
.channelTypeRoom.selected {
  border-color: #d4d5d8;
}
.channelTypeRoom:not(.selected) {
  border-color: #bfc1c7;
}
.channelTypeUser.selected {
  border-color: #d6b147;
}
.channelTypeUser:not(.selected) {
  border-color: #e7d18f;
}
.messageBlock {
  color: #4f5660;
}
.eventBlock {
  color: gray;
}
.motdBlock {
  color: green;
}
.gmBlock {
  color: #de30e3;
}
.openedEnvelope {
  color: #aeb0ba !important;
}
.btn-customlink {
  background-color: #c9cbd3;
  color: #212529;
}
.btn-customlink:active,
.btn-customlink:focus,
.btn-customlink:hover {
  background-color: #bfc0c7;
  color: #212529;
}
.context-menu-list {
  background: #fff;
  border: 1px solid #d4d8da;
}
.context-menu-item {
  background-color: #fff;
  color: #111;
}
.context-menu-icon.context-menu-icon--fa::before {
  color: #111;
}
.context-menu-icon.context-menu-icon--fa.context-menu-hover::before {
  color: #111;
}
.context-menu-separator {
  border-bottom: 1px solid #ebebeb;
}
.context-menu-item.context-menu-disabled {
  background-color: #fff;
  color: #bbb;
}
.context-menu-item:hover {
  background-color: #d3d5dc;
  color: #111;
}
.context-menu-item.context-menu-disabled:hover {
  color: #bbb;
}
.dropdown-menu {
  background: #fff;
  border: 1px solid #d4d8da;
}
.dropdown-item {
  background: #fff;
  color: #111;
}
.dropdown-item:hover {
  background: #dedfe5;
  color: #111;
}
#colorBox .color {
  border-color: #5b6069;
}
kbd {
  background-color: #d1d9df;
  color: #000;
}
.os-theme-light > .os-scrollbar > .os-scrollbar-track > .os-scrollbar-handle {
  background: rgba(0, 0, 0, 0.4);
}
.os-theme-light
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:hover {
  background: rgba(0, 0, 0, 0.3);
}
.os-theme-light
  > .os-scrollbar
  > .os-scrollbar-track
  > .os-scrollbar-handle:active {
  background: rgba(0, 0, 0, 0.3);
}
::-webkit-scrollbar {
  background: #fff;
}
::-webkit-scrollbar-thumb {
  background: rgba(0, 0, 0, 0.4);
  -webkit-border-radius: 1ex;
  -webkit-box-shadow: 0 1px 2px rgba(0, 0, 0, 0.75);
  cursor: grab;
}
::-webkit-scrollbar-corner {
  background: #fff;
}
.designerBrush.selected {
  background-color: #fff;
}
.designerTools .btn:hover {
  background-color: #b0b2ba;
}
.sidebarOptions a:hover {
  border-color: #fff;
}
.brush.selected {
  border-color: #b0b2ba;
}
.brush:hover {
  border-color: #b0b2ba;
}
.progressText .text {
  color: #fff;
}
.progressText .text a {
  color: #fff;
}
#dropArea:hover {
  border-color: #a8a8a8;
}
.containerSidebar .scrollNotBottom:not(.scrollNoOverflow)::after,
.dialog .scrollNotBottom:not(.scrollNoOverflow)::after {
  background: linear-gradient(to bottom, rgba(255, 255, 255, 0) 0, #fff 100%);
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(255, 255, 255, 0) 0
  );
}
.sidebar .scrollNotBottom:not(.scrollNoOverflow)::after {
  background: linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    #dddfe6 100%
  );
  background: -webkit-linear-gradient(
    to bottom,
    rgba(255, 255, 255, 0) 0,
    rgba(221, 223, 230, 0) 0
  );
}
fieldset {
  border-color: #dddfe6;
}
.animationTable td.selected {
  background-color: #c1c3c9;
}
.messengerUser:not(.selected) {
  border-color: #bfc1c7;
}
.messengerUser.selected {
  background-color: #fff;
  border-color: #d4d5d8;
}
.offlineDelete a:hover {
  border-color: #d9d9d9;
}
.offlineMsg {
  background: rgb(0, 0, 0, 0.05);
}
.likeButton.coloredButton:not(.disabled) {
  color: #216ed8 !important;
}
.dislikeButton.coloredButton:not(.disabled) {
  color: #216ed8 !important;
}
.favoriteButton.coloredButton:not(.disabled) {
  color: #d93030 !important;
}
#profileGallery {
  background-color: #fff;
  border-color: #9b9da4;
}
.targetBlock.active {
  border: 2px solid gray;
}
.dialogTitlebar .dialogTitle select:active,
.dialogTitlebar .dialogTitle select:focus,
.dialogTitlebar .dialogTitle select:hover {
  background-color: #a7a8b0;
}
.usertagList {
  background-color: #dddfe6;
  outline: 2px solid #dddfe6;
}
.usertagList a.selected,
.usertagList a:hover {
  background-color: #c9cbd3;
}
.chatTag:not(.chatTagUnknown) {
  color: #d6b147;
}
#headerTitle .msgCategory.msgCategoryPM {
  background-color: #ecd97a;
  color: #606060;
}
#headerTitle .msgCategory.msgCategoryEVENT {
  background-color: #888;
  color: #333;
}
#headerTitle .msgCategory.msgCategoryMOTD {
  background-color: #bae8ba;
  color: #646464;
}
#headerTitle .msgCategory.msgCategoryPUBLICROOM,
#headerTitle .msgCategory.msgCategorySTAFFROOM {
  background-color: #f2f2f2;
  color: #2d2d2d;
}
#headerTitle .msgCategory.msgCategoryGM {
  background-color: #e2b7e3;
  color: #6a6a6a;
}
